zmodule romkatv/powerlevel10k --use degit

zmodule zsh-users/zsh-completions
zmodule completion # for plugins that require compdef

zmodule ohmyzsh/ohmyzsh --root plugins/git
zmodule ohmyzsh/ohmyzsh --root plugins/kubectl
zmodule ohmyzsh/ohmyzsh --root plugins/docker-compose
zmodule hlissner/zsh-autopair
zmodule molovo/tipz
zmodule MichaelAquilina/zsh-autoswitch-virtualenv
zmodule lukechilds/zsh-nvm

zmodule mroth/evalcache
zmodule romkatv/zsh-defer
zmodule zsh-users/zsh-autosuggestions
zmodule zdharma-continuum/fast-syntax-highlighting

